/***************************
  Mobile Contact Styles
***************************/
#contact-mobile {
    height: 100%;
    width: 100%;
    overflow: auto;
    white-space: nowrap;

    #getInTouch {
        height: 100%;
        width: 100%;
        padding: 0;
        opacity: 1;

        .c-slide {
            height: 40vh;
            padding: 0;
            background: rgba(0, 0, 0, .5);
        }

        .c-info {
            background: white;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1em;

            #contact-list {
                list-style-type: none;

                .contact-header {
                    font-size: calc(3em + 5px);
                    margin-bottom: 2em;
                }

                .contact-list-item {
                    margin-top: 20px;
                    margin-bottom: 20px;

                    .list-group-header {
                        font-size: calc(1.2em + 6px);
                        margin-top: 5px;
                        margin-bottom: 7px;
                        font-weight: 500;
                    }

                    .list-group {
                        margin-top: 2px;
                        margin-bottom: 3px;
                        font-size: calc(1.1em + 2px);
                        font-weight: 300;
                        padding-top: 1px;
                        padding-bottom: 1px;

                        .contact-link {
                            text-decoration: none;
                            color: black;
                        }

                        .censor {
                            background: black;
                            height: calc(1em - 8px);
                            width: 8em;
                            position: relative;
                            bottom: calc(1em - 1px);
                        }
                    }
                }
            }
        }
    }

    .special-fx {
        text-decoration: none;
        color: gray;
        transition: 0.3s all linear;
        position: relative;
        padding: 0.3em 0;

        &:after,
        &:before {
            content: "";
            height: 1px;
            width: 0;
            background: black;
            position: absolute;
            bottom: 0;
            transition: 0.2s all linear;
        }

        &:before {
            left: 50%;
        }

        &:after {
            right: 50%;
        }

        &:hover {
            color: black;

            &:after,
            &:before {
                width: 100%;
            }

            &:before {
                left: 0;
            }

            &:after {
                right: 0;
            }
        }

        &:active,
        &:focus {
            color: darken(black, 10%);

            &:after,
            &:before {
                background: darken(black, 10%);
            }
        }
    }
}
