/***********FULL NAV *****************/
#nav {
    height: 100%;
    width: 100%;
    z-index: -1;

    #fw-nav-btn {
        position: fixed;
        right: 60px;
        top: 30px;
        z-index: 9999;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        cursor: pointer;
        text-align: center;
        padding: 10px;
        background: white;

        i {
            font-size: 2em;
            transform: rotate(0);
            transition: all 0.2s ease-in;
        }

        .hvr-overlay {
            display: inline-block;
            right: 0;
            top: 0;
            width: 0;
            height: 50px;
            border-radius: 25px;
            background: rgba(13, 9, 64, 0.09);
            position: absolute;
            padding: 0.6em 2em 0.6em 0.6em;
            font-size: 18px;
            color: white;
            font-weight: 100;
            opacity: 0;
            transition: all 0.5s ease-in-out;
        }
    }

    #fw-nav-btn:hover {
        i {
            transform: rotate(90deg);
            transition: all 0.2s ease-in;
        }

        .hvr-overlay {
            width: 160px;
            opacity: 1;
            transition: all 0.5s ease-in-out;
        }
    }

    .nav-wrapper {
        position: fixed;
        z-index: 0;
        height: 100vh;
        width: 100%;
        padding: 0;

        .nav-col {
            padding: 0;
            overflow: hidden;
            width: 0;

            .nav-viewports {
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;

                .media-box {
                    padding-left: 5em;
                    padding-right: 5em;

                    .menu-link {
                        text-decoration: none;
                        display: block;

                        .menu-title-top {
                            font-size: 3em;
                            color: white;
                            position: relative;
                            bottom: 1em;
                            opacity: 0;
                            transition: all .3s ease-in-out;
                        }

                        .menu-title-btm {
                            font-size: 3em;
                            color: white;
                            position: relative;
                            opacity: 1;
                            transition: all .3s ease-in-out;
                            bottom: 0;
                        }
                        .btm-text {
                          font-size: 1em;
                          color: white;
                          position: relative;
                          opacity: 0;
                          top:4em;
                          transition: all .3s ease-in-out;
                        }
                      .btm-text-lg {
                        font-size: 1.2em !important;
                      }
                    }
                    .menu-link:hover {

                        .menu-title-top {
                            position: relative;
                            bottom: -1.5em;
                            opacity: 1;
                            transition: all .3s ease-in-out;
                        }

                        .menu-title-btm {
                            position: relative;
                            opacity: 0;
                            bottom:-1em;
                            transition: all .3s ease-in-out;
                        }
                        .btm-text {
                          position: relative;
                          opacity: 1;
                          top: 1em;
                          transition: all .3s ease-in-out;

                        }
                    }

                    #link-3 {
                        .menu-title {
                            border-bottom: 5px solid white;
                        }
                    }

                    #link-3:hover {
                        .menu-title {
                            border-bottom: 5px solid gray;
                        }
                    }

                    .menu-link:hover {
                        .menu-title {
                            color: gray;
                            transition: all 0.2s ease-in;
                        }
                    }
                }
            }
        }
    }

    .nav-col:first-child {
        position: absolute;
        left: 0;

        .nav-viewports {
            background: #222224;
        }
    }

    .nav-col:nth-child(2) {
        position: absolute;
        left: 33.3333%;

        .nav-viewports {
            background: #171719;
        }
    }

    .nav-col:nth-child(3) {
        position: absolute;
        left: 66.6666%;

        .nav-viewports {
            background: #000000;
        }
    }
}
