/*************************
    MOBILE NAV STYLES
**************************/
#nav-mobile {
    height: 100%;
    width: 100%;

    #mobile-nav-btn {
        position: fixed;
        right: 30px;
        top: 30px;
        z-index: 9999;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        cursor: pointer;
        text-align: center;
        padding: 5px;
        background: white;
        font-size: 2em;
    }

    .nav-wrapper-mobile {
        position: fixed;
        height: 100vh;
        width: 100%;
        padding: 0;

        .nav-col-mobile {
            background: #18191b;
            width: 0;
            padding: 0;
            height: 33.333vh;
            display: flex;
            justify-content: center;
            align-items: center;

            .nav-viewports-mobile {
                .media-box-mobile {
                    opacity: 0;

                    .menu-link-mobile {
                        text-decoration: none;
                        color: white;

                        .menu-title-mobile {
                            font-size: calc(3em + 6px);
                            text-align: center;
                        }
                        .btm-text {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}
