/****** Wrapper ********/
#parallax-wrapper {
    opacity: 0;
    transition: all 0.5s ease-in-out;
    padding: 0;
    top: 0;
    position: relative;

    #parallax {
        width: 100%;
        height: 100vh;
        overflow: auto;
        padding: 0;
        clear: both;
        overflow: inherit !important;

        .p-slide {
            padding: 0;
            white-space: normal;
            float: right;

            .special-padding {
                padding: 29em 8em 25em 0 !important;
            }

            .color-bg {
                background: white;
                min-height: 100vh;
                padding: 28em 6em 5em;

                .about-header {
                    font-size: calc(3em + 8px);
                    font-weight: 500;
                    padding-bottom: calc(2em + 6px);
                }

                .about-header-sm {
                    font-size: calc(1em + 8px);
                    font-weight: 500;
                    padding-top: calc(8em + -10px);
                }

                .about-link {
                    .contact-link {
                        text-decoration: none;
                        font-size: calc(1em + 4px);
                        font-weight: 200;
                    }
                }

                .about-text {
                    font-size: calc(1em + 1px);
                    letter-spacing: 1.5px;
                    line-height: calc(1.2em + 10px);
                    text-align: justify;
                }
            }

            .secondary {
                min-height: 100vh;
                background: #171719;
                padding: 0;
                color: white;
                padding: calc(3em + 2px);
                float: left;

                .add-p-top {
                    text-align: center;
                    padding-top: calc(3em + 5px);

                    .about-header {
                        font-size: calc(3em + 8px);
                        font-weight: 500;
                        padding-top: calc(2em + 6px);
                    }
                }

                .add-p-top-b {
                    padding-top: calc(3em + 5px);

                    .alphas {
                        padding: calc(1em + 4px) 3em calc(1em + 8px) 2em;

                        label {
                            font-size: calc(1.5em + 8px);
                            font-weight: 400;
                        }

                        .alpha-text {
                            font-size: calc(1em + 3px);
                            font-weight: 300;
                            letter-spacing: 1px;
                            text-align: justify;
                        }
                    }

                    .alphas:first-child {
                        padding-top: 10em;
                    }
                }
            }
        }

        .b-slide {
            padding: 0;

            .third-para {
                padding: 0;
                height: 100vh;

                .black-vertical {
                    padding: 0;
                    background: #171719;
                    height: 100vh;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    .alphas {
                        padding: calc(1em + 4px) 3em calc(1em + 8px) 2em;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        label {
                            font-size: calc(2.5em + 4px);
                            font-weight: 100;
                            color: white;
                            letter-spacing: 6px;
                        }
                    }

                    .alphas:first-child {
                        padding-top: 10em;
                    }
                }

                .white-block {
                    height: 100vh;
                    background-image: url("/images/ivanA.jpg");
                    background-repeat: round;
                    background-size: cover;
                }
            }
        }
    }

    .p-info {
        background-image: url("images/mouse.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        left: 0;
        position: fixed;
        background-attachment: fixed;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
/*Grown Animation*/
.grow-intro {
    transition: all 0.8s ease-in-out;
    transform: translate3d(0,0,0);
}

[data-scrollbar] .scrollbar-thumb,
[scrollbar] .scrollbar-thumb,
scrollbar .scrollbar-thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    background: transparent !important;
    color: transparent;
    border-radius: 4px;
}

[data-scrollbar] .scrollbar-track-y,
[scrollbar] .scrollbar-track-y,
scrollbar .scrollbar-track-y {
    top: 0;
    right: 0;
    width: 8px;
    height: 100%;
    background: transparent !important;
    color: transparent !important;
}

.black {
    height: 100vh;
    bottom: 0;
    position: fixed;
    background: black;
}

.faded {
    opacity: 1;
    transition: all 0.4s ease-in-out;
}

.color-bg {
    background: white;
    min-height: 100vh;
    padding: 28em 6em 5em;

    .about-header {
        font-size: calc(3em + 8px);
        font-weight: 500;
        padding-bottom: calc(2em + 6px);
    }

    .about-header-sm {
        font-size: calc(1em + 8px);
        font-weight: 500;
        padding-top: calc(8em + -10px);
    }

    .about-link {
        .contact-link {
            text-decoration: none;
            font-size: calc(1em + 4px);
            font-weight: 200;
        }
    }

    .about-text {
        font-size: calc(1em + 1px);
        letter-spacing: 1.5px;
        line-height: calc(1.2em + 10px);
        text-align: justify;
    }
}

.secondary {
    min-height: 100vh;
    background: #171719;
    padding: 0;
    color: white;
    padding: calc(3em + 2px);

    .add-p-top {
        text-align: center;
        padding-top: calc(3em + 5px);

        .about-header {
            font-size: calc(3em + 8px);
            font-weight: 500;
            padding-top: calc(2em + 6px);
        }
    }

    .add-p-top-b {
        padding-top: calc(3em + 5px);

        .alphas {
            padding: calc(1em + 4px) 3em calc(1em + 8px) 2em;

            label {
                font-size: calc(1.5em + 8px);
                font-weight: 400;
            }

            .alpha-text {
                font-size: calc(1em + 3px);
                font-weight: 300;
                letter-spacing: 1px;
                text-align: justify;
            }
        }

        .alphas:first-child {
            padding-top: 10em;
        }
    }
}

/*** Animation *****/
.ani-fade {
    opacity: 0;
    position: relative;
    top:150px;
    transition: all .8s ease-in-out;
}
.ani-right {
    opacity: 0;
    position: relative;
    top:150px;
    transition: all .8s ease-in-out;
}
