/*********************************
         BOX STYLES
*********************************/
#slideA {
    height: 100vh;
    width: 100%;
    padding: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out;

    .img-wrapper {
        padding: 0;
        overflow: hidden;

        .viewports {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            cursor: pointer;

            .media-box {
                display: block;
                margin: 0 auto;
                display: block;
                margin: 0 auto;
                white-space: normal;
                position: absolute;
                left: 0;
                bottom: 0;
                padding: 30vh 3.125rem;
                width: 100%;
                height: auto;
                color: #fff;
                -webkit-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);

                .menu-title {
                    text-align: center;
                    font-size: calc(3em + 2px);
                    position: relative;
                    top: 50px;
                    transition: all 0.4s ease-in-out;
                }

                .sub-text {
                    text-align: center;
                    opacity: 0;
                    transition: all 0.4s ease-in-out;
                    font-size: calc(1em + 3px);
                    letter-spacing: 2px;
                    font-weight: 100;
                    background: rgba(0, 0, 0, 0.7);
                    margin-left: 1em;
                    margin-right: 1em;
                    padding: 2px;
                    border-radius: 20px;
                }

                .keyword-text {
                    text-align: center;
                    transition: all 0.4s ease-in-out;
                    position: relative;
                    top: 10px;
                    font-size: calc(1.6em + 4px);
                    font-weight: 200;
                    letter-spacing: 1px;
                }
            }
        }
    }

    .viewports:hover {
        filter: grayscale(85%);
        //transform: scale(1.1);
        transition: all 0.2s ease-in;

        .media-box {
            .menu-title {
                position: relative;
                top: -20px;
                transition: all 0.4s ease-in-out;
            }

            .sub-text {
                opacity: 1;
                transition: all 0.4s ease-in-out;
            }

            .keyword-text {
                text-align: center;
                transition: all 0.4s ease-in-out;
                position: relative;
                top: 40px;
            }
        }
    }

    .viewports {
        transform: scale(1);
        transition: all 0.2s ease-in;
    }

    .img-wrapper:first-child {
        .viewports {
            background-image: url('/images/fw-sites/tampa.png');
            background-size: 100vw 100%;
            background-repeat: no-repeat;
        }
    }

    .img-wrapper:nth-child(2) {
        .viewports {
            background-image: url('/images/fw-sites/wine.png');
            background-size: 100vw 100%;
            background-repeat: no-repeat;
        }
    }

    .img-wrapper:nth-child(3) {
        .viewports {
            background-image: url('/images/fw-sites/mccaffreys.png');
            background-size: 100vw 100%;
            background-repeat: no-repeat;
        }
    }
}
@-webkit-keyframes expandline {
    0% {
        width: 0;
    }

    50% {
        width: 50%;
    }

    100% {
        width: 100%;
    }
}

.middle-ex {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 33.5%;
}

.right-ex {
    position: absolute;
    margin-left: 66.66666666%;
}

.left-ex {
    position: absolute;
}

.view-overlay {
    position: absolute;
    height: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 99;
    visibility:hidden;
    bottom: 0;
    height: 100%;
    opacity: 0;
    left: -500px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.slide__overlay-path {
    fill: rgba(255, 255, 255, 0.6);
}

.svg-box {
    position: absolute;
    z-index: 101;
    left: 0;
    color: black;
    width: 40%;
    padding: 3em;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    top: 30%;
    transform: translateY(-50%);

    .site-description {
        white-space: normal;
        width: 100%;

        .site-text {
            font-size: calc(1.3em + 6px);
            letter-spacing: 0.2px;
            font-weight: 300;
            margin-top: 2em;
            margin-bottom: 2em;
        }

        .site-header {
            font-size: calc(3em + 8px);
        }
    }

    .site-link {
        width: 180px;
        padding: calc(.6em + 2px);
        position: absolute;
        text-align: center;
        background: black;
        text-decoration: none;
        color: white;
        letter-spacing: 3px;
        font-size: calc(.9em + 2px);
        transition: all 0.2s linear;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    }

    .site-link:hover {
        transition: all 0.2s linear;
        background: white;
        color: black;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4);
    }
}
