/*********************************
         BOX STYLES
*********************************/
#slideA {
    height: 100vh;
    width: 100%;
    padding: 0;

    .viewports {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .media-box {
            display: block;
            margin: 0 auto;

            .menu-title {
                text-align: center;
            }
        }
    }

    .viewports:first-child {
        background-image:url('/images/golf.png');
        background-size: cover;
    }

    .viewports:nth-child(2) {
        background-image:url('/images/basketball.png');
        background-size: cover;
    }

    .viewports:nth-child(3) {
        background-image:url('/images/shoe.png');
        background-size: cover;
    }
}
