/***********************
      Media Queries
***********************/
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .mobile-sites {
        display: block;
    }
    .desktop-sites {
        display: none;
    }
}
@media only screen and (min-width : 769px) {
    .mobile-sites {
        display: none;
    }
    .desktop-sites {
        display: block;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {}
/**********************
    19 Inch Screen
**********************/
@media only screen and (max-width: 1441px) and (min-width: 1368px) {
    /**********************
    Preloader Component
  **********************/
    #preloader {
        min-height: 100vh;
        width: 100%;
        opacity: 1;
        padding: 0;
        overflow: hidden;
        position: fixed;
        z-index: 9999;

        .preload-text {
            font-size: 8em;
            color: white;
            top: 5%;
            position: absolute;
            z-index: 100;
            height: 100%;
        }
    }

    #parallax-wrapper #parallax .b-slide .third-para .black-vertical .alphas label {
        font-size: calc(2em + 4px);
        font-weight: 100;
        color: white;
        letter-spacing: 6px;
    }

    #slideA .img-wrapper .viewports .media-box .menu-title {
        text-align: center;
        font-size: calc(2em + 4px);
    }

    #slideA .img-wrapper .viewports .media-box .keyword-text {
        font-size: calc(1.3em + 2px);
        font-weight: 200;
        letter-spacing: 1px;
    }

    #slideA .img-wrapper .viewports .media-box .sub-text {
        font-size: calc(1em);
    }

    #slideB .img-wrapper .viewports .media-box .menu-title {
        text-align: center;
        font-size: calc(2em + 4px);
    }

    #slideB .img-wrapper .viewports .media-box .keyword-text {
        font-size: calc(1.3em + 2px);
        font-weight: 200;
        letter-spacing: 1px;
    }

    #slideB .img-wrapper .viewports .media-box .sub-text {
        font-size: calc(1em);
    }
    /*****************
      About Styles
    *****************/
    .fourth-para .th-headB {
        font-size: calc(2.8em + 10px);
    }
}
/**********************
    15 Inch Screen
**********************/
@media only screen and (max-width: 1367px) and (min-width: 1281px) {
    /**********************
    Preloader Component
  **********************/
    #preloader {
        min-height: 100vh;
        width: 100%;
        opacity: 1;
        padding: 0;
        overflow: hidden;
        position: fixed;
        z-index: 9999;

        .preload-text {
            font-size: 8em;
            color: white;
            top: 5%;
            position: absolute;
            z-index: 100;
            height: 100%;
        }
    }

    .middle-ex {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 33.5%;
    }

    #parallax-wrapper #parallax .b-slide .third-para .black-vertical .alphas label {
        font-size: calc(1.6em + 6px);
        font-weight: 100;
        color: white;
        letter-spacing: 6px;
    }

    #slideA .img-wrapper .viewports .media-box .menu-title {
        text-align: center;
        font-size: calc(2em + 4px);
    }

    #slideA .img-wrapper .viewports .media-box .keyword-text {
        font-size: calc(1.3em + 2px);
        font-weight: 200;
        letter-spacing: 1px;
    }

    #slideA .img-wrapper .viewports .media-box .sub-text {
        font-size: calc(1em);
    }

    #slideB .img-wrapper .viewports .media-box .menu-title {
        text-align: center;
        font-size: calc(2em + 4px);
    }

    #slideB .img-wrapper .viewports .media-box .keyword-text {
        font-size: calc(1.3em + 2px);
        font-weight: 200;
        letter-spacing: 1px;
    }

    #slideB .img-wrapper .viewports .media-box .sub-text {
        font-size: calc(1em);
    }
    /*****************
      About Styles
    *****************/
    .fourth-para .th-headB {
        font-size: calc(2.8em + 10px);
    }
    /***********************
        SVG TEXT Styles
    ***********************/
    .svg-box .site-description .site-header {
        font-size: calc(2.5em + 4px);
    }

    .svg-box .site-description .site-text {
        font-size: calc(1.3em + 2px);
        letter-spacing: 0.2px;
        line-height: calc(1.2em + 8px);
        font-weight: 300;
        margin-top: 2em;
        margin-bottom: 2em;
    }
}
/**********************
    13 Inch Screen
**********************/
@media only screen and (max-width: 1280px) and (min-width: 1025px) {
    /**********************
    Preloader Component
  **********************/
    #preloader {
        min-height: 100vh;
        width: 100%;
        opacity: 1;
        padding: 0;
        overflow: hidden;
        position: fixed;
        z-index: 9999;

        .preload-text {
            font-size: 8em;
            color: white;
            top: 5%;
            position: absolute;
            z-index: 100;
            height: 100%;
        }
    }

    .middle-ex {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 33.5%;
    }

    #parallax-wrapper #parallax .b-slide .third-para .black-vertical .alphas label {
        font-size: calc(1.4em + 6px);
        font-weight: 100;
        color: white;
        letter-spacing: 6px;
    }

    #slideA .img-wrapper .viewports .media-box .menu-title {
        text-align: center;
        font-size: calc(2em + 4px);
    }

    #slideA .img-wrapper .viewports .media-box .keyword-text {
        font-size: calc(1.3em + 2px);
        font-weight: 200;
        letter-spacing: 1px;
    }

    #slideA .img-wrapper .viewports .media-box .sub-text {
        font-size: calc(1em);
    }

    #slideB .img-wrapper .viewports .media-box .menu-title {
        text-align: center;
        font-size: calc(2em + 4px);
    }

    #slideB .img-wrapper .viewports .media-box .keyword-text {
        font-size: calc(1.3em + 2px);
        font-weight: 200;
        letter-spacing: 1px;
    }

    #slideB .img-wrapper .viewports .media-box .sub-text {
        font-size: calc(1em);
    }
    /*****************
      About Styles
    *****************/
    .fourth-para .th-headB {
        font-size: calc(2.8em + 10px);
    }
    /***********************
        SVG TEXT Styles
    ***********************/
    .svg-box .site-description .site-header {
        font-size: calc(2.5em + 4px);
    }

    .svg-box .site-description .site-text {
        font-size: calc(1.3em + 2px);
        letter-spacing: 0.2px;
        line-height: calc(1.2em + 8px);
        font-weight: 300;
        margin-top: 2em;
        margin-bottom: 2em;
    }
}
/**********************
    12 - 10 Inch Screen
**********************/
@media only screen and (max-width: 1025px) and (min-width: 900px) {
    /**********************
    Preloader Component
  **********************/
    #preloader {
        min-height: 100vh;
        width: 100%;
        opacity: 1;
        padding: 0;
        overflow: hidden;
        position: fixed;
        z-index: 9999;

        .preload-text {
            font-size: 6em;
            color: white;
            top: 5%;
            position: absolute;
            z-index: 100;
            height: 100%;
        }
    }

    .middle-ex {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 33.5%;
    }
    /**********************
        Parallax Style
    **********************/
    #parallax-wrapper #parallax .p-slide .color-bg .about-header {
        font-size: calc(2em + 8px);
        font-weight: 500;
        padding-bottom: calc(2em + 6px);
    }

    #parallax-wrapper #parallax .b-slide .third-para .black-vertical .alphas label {
        font-size: calc(1.1em + 4px);
        font-weight: 100;
        color: white;
        letter-spacing: 6px;
    }

    #parallax-wrapper #parallax .p-slide .color-bg .about-header-sm {
        font-size: calc(1em + 6px);
        font-weight: 500;
        padding-top: calc(8em + -10px);
    }

    #parallax-wrapper #parallax .p-slide .secondary .add-p-top .about-header {
        font-size: calc(2em + 8px);
        font-weight: 500;
        padding-top: calc(2em + 6px);
    }

    #parallax-wrapper #parallax .p-slide .secondary .add-p-top-b .alphas .alpha-text {
        font-size: calc(1em);
        font-weight: 300;
        letter-spacing: 1px;
        text-align: justify;
    }
    /********************
        Slide Styles
    ********************/
    #slideA .img-wrapper .viewports .media-box .menu-title {
        text-align: center;
        font-size: calc(1.6em + 4px);
    }

    #slideA .img-wrapper .viewports .media-box .keyword-text {
        font-size: calc(1.2em + 2px);
        font-weight: 200;
        letter-spacing: 1px;
    }

    #slideA .img-wrapper .viewports .media-box .sub-text {
        font-size: calc(.9em);
        min-height: 40px;
        padding: 10px;
    }

    #slideB .img-wrapper .viewports .media-box .menu-title {
        text-align: center;
        font-size: calc(2em + 4px);
    }

    #slideB .img-wrapper .viewports .media-box .keyword-text {
        font-size: calc(1.3em + 2px);
        font-weight: 200;
        letter-spacing: 1px;
    }

    #slideB .img-wrapper .viewports .media-box .sub-text {
        font-size: calc(1em);
        min-height: 40px;
        padding: 10px;
    }
    /*****************
      About Styles
    *****************/
    .fourth-para .th-headB {
        font-size: calc(2.8em + 10px);
    }
    /***********************
        SVG TEXT Styles
    ***********************/
    .svg-box .site-description .site-header {
        font-size: calc(2em + 4px);
    }

    .svg-box .site-description .site-text {
        font-size: calc(1.2em + 2px);
        letter-spacing: 0.2px;
        line-height: calc(1.2em + 8px);
        font-weight: 300;
        margin-top: 2em;
        margin-bottom: 2em;
        width: 350px;
    }
    /******************
        Nav Styles
    ******************/
    #nav .nav-wrapper .nav-col .nav-viewports .media-box .menu-link .menu-title-top {
        font-size: 2.4em;
    }

    #nav .nav-wrapper .nav-col .nav-viewports .media-box .menu-link .menu-title-btm {
        font-size: 2.4em;
    }

    #nav .nav-wrapper .nav-col .nav-viewports .media-box .menu-link .btm-text {
        font-size: 0.9em;
    }

    #nav .nav-wrapper .nav-col .nav-viewports .media-box {
        padding-left: 3em;
        padding-right: 3em;
    }
}
